Repository The-Ronin-Project/interop-queue: changes, and which Codecov flags are due for each by the changed paths.
All: api, db

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: pass
    project:
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      db:
        target: auto
        threshold: 1%
        flags:
          - db

    patch:
      api:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - api
      db:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - db

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  api:
    paths:
      - interop-queue/
    carryforward: true
  db:
    paths:
      - interop-queue-db/
    carryforward: true

Correct scope for interop-common-test-db (#2)
  interop-queue-db/interop-queue-db.gradle.kts
Due: db

INT-277: Switch from dependencyManagement to explicit versions (#3)
  build.gradle.kts
  interop-queue-db/interop-queue-db.gradle.kts
  interop-queue/interop-queue.gradle.kts
Due: api, db

INT-280: Uplift to Gradle 7.2 and reorder plugin repos (#4)
  .github/workflows/lint.yml
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle.kts
Due: none

INT-270: Docker image support for deploying schema. (#5)
  interop-queue-liquibase/Dockerfile
  interop-queue-liquibase/README.md
Due: none

add deployment files
  interop-queue-liquibase/deployment/helm/interop-queue-liquibase/.helmignore
  interop-queue-liquibase/deployment/helm/interop-queue-liquibase/Chart.yaml
  interop-queue-liquibase/deployment/helm/interop-queue-liquibase/templates/_helpers.tpl
  interop-queue-liquibase/deployment/helm/interop-queue-liquibase/templates/config-map.yaml
  interop-queue-liquibase/deployment/helm/interop-queue-liquibase/templates/deployments.yaml
  interop-queue-liquibase/deployment/helm/interop-queue-liquibase/templates/ingress.yaml
  interop-queue-liquibase/deployment/helm/interop-queue-liquibase/templates/service.yaml
  interop-queue-liquibase/deployment/helm/interop-queue-liquibase/values.yaml
  interop-queue-liquibase/deployment/prod/config.yaml
  interop-queue-liquibase/deployment/prod/values.yaml
Due: none

deploy workflow
  .github/workflows/deploy_prod.yml
Due: none

rename and mod workflow
  .github/workflows/deploy_queue_liquibase.yml
Due: none

remove python test
  .github/workflows/deploy_queue_liquibase.yml
Due: none

mod helm chart:
  interop-queue-liquibase/deployment/helm/interop-queue-liquibase/.#values.yaml
  interop-queue-liquibase/deployment/helm/interop-queue-liquibase/Chart.yaml
Due: none

modify helm:
  interop-queue-liquibase/deployment/helm/interop-queue-liquibase/.#values.yaml
  interop-queue-liquibase/deployment/helm/interop-queue-liquibase/values.yaml
Due: none

add conditionals for proper order
  .github/workflows/deploy_queue_liquibase.yml
Due: none

only deploy after db tests pass
  .github/workflows/deploy_queue_liquibase.yml
Due: none

only delpoy to k8s after helm success
  .github/workflows/deploy_queue_liquibase.yml
Due: none

INT-333: Add CODEOWNERS (#7)
  CODEOWNERS
Due: none

INT-363: Use axion-release for versions (#8)
  CODEOWNERS
  build.gradle.kts
  gradle.properties
  settings.gradle.kts
Due: none

INT-367: Move to Nexus (#9)
  .github/workflows/api_test.yml
  .github/workflows/db_test.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
  settings.gradle.kts
Due: none

move to azure
  .github/workflows/db_test.yml
Due: none

try env var
  .github/workflows/db_test.yml
Due: none

add trailing slash
  .github/workflows/db_test.yml
Due: none

INT-367: Leverage any self-hosted node (#11)
  .github/workflows/api_test.yml
  .github/workflows/db_test.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
Due: none

INT-413: Added qualifier to database to be specific to queue (#12)
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/data/MessageDAO.kt
Due: db

Updated README.md for clarity. (#13)
  interop-queue-liquibase/README.md
Due: none

INT-441: Upgrade to JDK 17 and Gradle 7.4.1 (#14)
  .github/workflows/api_test.yml
  .github/workflows/db_test.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

INT-466: Add release workflow (#15)
  .github/workflows/create_release.yml
Due: none

add multiplatform builds based on Gradle version (#16)
  .github/workflows/deploy_queue_liquibase.yml
Due: none

INT-531: Use Version Catalogs and add dependabot-like support (#17)
  .github/workflows/upgrade_dependencies.yml
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  interop-queue-db/interop-queue-db.gradle.kts
  interop-queue/interop-queue.gradle.kts
  settings.gradle.kts
Due: api, db

Upgraded dependencies for groupId com.projectronin.interop (#18)
  gradle/libs.versions.toml
Due: none

INT-561: Prepare for release (#19)
  .github/workflows/create_release.yml
  .github/workflows/snapshot_publish.yml
  settings.gradle.kts
Due: none

INT-561: Include version plugin (#20)
  build.gradle.kts
  settings.gradle.kts
Due: none

INT-628: Add support for marking the next release version (#21)
  .github/workflows/mark_next_release.yml
Due: none

Ensure proper fetch depth when determining artifact version (#22)
  .github/workflows/deploy_queue_liquibase.yml
Due: none

INT-658: Remove old dependency-providing Gradle plugins (#23)
  .github/workflows/mark_next_release.yml
  .github/workflows/upgrade_dependencies.yml
  build.gradle.kts
  gradle/libs.versions.toml
  interop-queue-db/interop-queue-db.gradle.kts
  settings.gradle.kts
Due: db

[INT-637] add hl7 events to queue (#26)
  gradle/libs.versions.toml
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/DBQueueService.kt
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/data/MessageDAO.kt
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/data/binding/HL7MessageDOs.kt
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/data/model/ApiMessageDO.kt
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/data/model/HL7MessageDO.kt
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/data/model/MessageDO.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/DBQueueServiceTest.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/data/MessageDAOTest.kt
  interop-queue-db/src/test/resources/dbunit/message/api/insert/ExpectedMultipleMixedMessages.yaml
  interop-queue-db/src/test/resources/dbunit/message/api/insert/StoredHL7.yaml
  interop-queue-db/src/test/resources/dbunit/message/api/read/AllHl7MessagesRead.yaml
  interop-queue-db/src/test/resources/dbunit/message/api/read/MDMT06MessagesRead.yaml
  interop-queue-db/src/test/resources/dbunit/message/api/read/OldestHl7MessagesRead.yaml
  interop-queue-db/src/test/resources/dbunit/message/api/read/UnreadHL7Messages.yaml
  interop-queue-db/src/test/resources/fakeHL7.txt
  interop-queue-liquibase/src/main/resources/queue/db/changelog/queue.db.changelog-1.1.0.yaml
  interop-queue-liquibase/src/main/resources/queue/db/changelog/queue.db.changelog-master.yaml
  interop-queue-liquibase/src/main/resources/queue/db/changelog/queue/io_queue_api-02.yaml
  interop-queue/src/main/kotlin/com/projectronin/interop/queue/QueueService.kt
  interop-queue/src/main/kotlin/com/projectronin/interop/queue/model/ApiMessage.kt
  interop-queue/src/main/kotlin/com/projectronin/interop/queue/model/HL7Message.kt
  interop-queue/src/test/kotlin/com/projectronin/interop/queue/model/ApiMessageTest.kt
  interop-queue/src/test/kotlin/com/projectronin/interop/queue/model/HL7MessageTest.kt
Due: api, db

[INT-642] Make HL7 Message Optional (#33)
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/DBQueueService.kt
  interop-queue/src/main/kotlin/com/projectronin/interop/queue/QueueService.kt
Due: api, db

update PR Template (#34)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Int 867 add functions to interop queue for checking queue depth status (#39)
  interop-queue-db/interop-queue-db.gradle.kts
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/DBQueueService.kt
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/data/MessageDAO.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/DBQueueServiceTest.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/SchemaTest.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/data/MessageDAOTest.kt
  interop-queue-db/src/test/resources/dbunit/message/api/read/AllMessagesReadApiAndHl7.yaml
  interop-queue-db/src/test/resources/dbunit/message/api/read/ApiAndHl7Messages.yaml
  interop-queue-liquibase/src/main/resources/queue/db/changelog/queue.db.changelog-1.1.1.yaml
  interop-queue-liquibase/src/main/resources/queue/db/changelog/queue.db.changelog-master.yaml
  interop-queue-liquibase/src/main/resources/queue/db/changelog/queue/io_queue_api-03.yaml
  interop-queue/src/main/kotlin/com/projectronin/interop/queue/QueueService.kt
  interop-queue/src/main/kotlin/com/projectronin/interop/queue/model/QueueStatus.kt
  interop-queue/src/test/kotlin/com/projectronin/interop/queue/model/QueueStatusTest.kt
Due: api, db

Int 868 send queue status to data dog by creating a queue monitor (#43)
  .github/workflows/monitor_test.yml
  codecov.yml
  docker-compose.yaml
  gradle/libs.versions.toml
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/DBQueueServiceTest.kt
  interop-queue-monitor/Dockerfile
  interop-queue-monitor/README.md
  interop-queue-monitor/interop-queue-monitor.gradle.kts
  interop-queue-monitor/src/main/kotlin/com/projectronin/interop/queue/monitor/InteropQueueMonitor.kt
  interop-queue-monitor/src/main/kotlin/com/projectronin/interop/queue/monitor/datadog/DataDogQueueMonitor.kt
  interop-queue-monitor/src/main/kotlin/com/projectronin/interop/queue/monitor/spring/InteropQueueMonitorConfig.kt
  interop-queue-monitor/src/main/resources/application.properties
  interop-queue-monitor/src/test/kotlin/com/projectronin/interop/queue/monitor/datadog/DataDogQueueMonitorTest.kt
  interop-queue-monitor/src/test/kotlin/com/projectronin/interop/queue/monitor/spring/InteropQueueMonitorConfigTest.kt
  settings.gradle.kts
Due: db

Upgrade gradle plugins (#54)
  build.gradle.kts
  interop-queue-monitor/interop-queue-monitor.gradle.kts
  settings.gradle.kts
Due: none

Update to 2.1.2 of interop-gradle plugins (#55)
  settings.gradle.kts
Due: none

INT-1153: Upgrade gradle plugins (#57)
  settings.gradle.kts
Due: none
