Repository The-Ronin-Project/interop-queue: changes, and which Codecov flags are due for each by the changed paths.
All: api, db

INT-1153: Upgrade to gradle plugins 2.1.4 (#58)
  settings.gradle.kts
Due: none

INT-1239: Repo maintenance (#61)
  .github/workflows/snapshot_publish.yml
  .github/workflows/upgrade_dependencies.yml
  CODEOWNERS
Due: none

initial POC code
  gradle/libs.versions.toml
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/DBQueueService.kt
  interop-queue-kafka/README.md
  interop-queue-kafka/interop-queue-kafka.gradle.kts
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueService.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/events/PatientRetrieveEvent.kt
  settings.gradle.kts
Due: db

switch action
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueService.kt
Due: none

updates
  gradle/libs.versions.toml
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/DBQueueService.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/DBQueueServiceTest.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueService.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/events/PatientRetrieveEvent.kt
  interop-queue-kafka/src/test/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueServiceTest.kt
Due: db

INT-1221: Upgrade to interop-gradle 2.2.0 (#63)
  settings.gradle.kts
Due: none

add integration test
  gradle/libs.versions.toml
  interop-queue-kafka/interop-queue-kafka.gradle.kts
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/Config.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueService.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/Spring.kt
  interop-queue-kafka/src/test/kotlin/com/projectronin/interop/queue/kafka/BaseKafkaQueueServiceTest.kt
  interop-queue-kafka/src/test/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueServiceTest.kt
  interop-queue-kafka/src/test/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueTest.kt
  interop-queue-kafka/src/test/resources/docker-compose-kafka.yaml
  interop-queue-kafka/src/test/resources/logback-test.xml
Due: none

use kafka models from interop-publishers, change DBQueue logic a bit.
  gradle/libs.versions.toml
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/DBQueueService.kt
  interop-queue-kafka/interop-queue-kafka.gradle.kts
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/Config.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueService.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/Spring.kt
  interop-queue-kafka/src/test/kotlin/com/projectronin/interop/queue/kafka/BaseKafkaQueueServiceTest.kt
  interop-queue-kafka/src/test/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueTest.kt
Due: db

use actual snapshot
  gradle/libs.versions.toml
Due: none

code cov
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/DBQueueServiceTest.kt
Due: db

address comments
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/DBQueueService.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/DBQueueServiceTest.kt
  interop-queue-kafka/README.md
  interop-queue-kafka/interop-queue-kafka.gradle.kts
  interop-queue-kafka/src/it/kotlin/kafka/BaseKafkaQueueServiceTest.kt
  interop-queue-kafka/src/it/kotlin/kafka/KafkaQueueTest.kt
  interop-queue-kafka/src/it/resources/docker-compose-kafka.yaml
  interop-queue-kafka/src/it/resources/logback-test.xml
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueService.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/Spring.kt
  interop-queue-kafka/src/test/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueServiceTest.kt
Due: db

small updates
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/DBQueueService.kt
  interop-queue-kafka/README.md
  interop-queue-kafka/src/it/kotlin/com/projectronin/inteorp/queue/kafka/BaseKafkaQueueServiceTest.kt
  interop-queue-kafka/src/it/kotlin/com/projectronin/inteorp/queue/kafka/KafkaQueueTest.kt
Due: db

use release
  codecov.yml
  gradle/libs.versions.toml
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueService.kt
  interop-queue-kafka/src/test/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueServiceTest.kt
Due: none

INT-1240: initial POC code for Patient Kafka Queue events (#62)
  codecov.yml
  gradle/libs.versions.toml
  interop-queue-db/interop-queue-db.gradle.kts
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/DBQueueService.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/DBQueueServiceTest.kt
  interop-queue-kafka/README.md
  interop-queue-kafka/interop-queue-kafka.gradle.kts
  interop-queue-kafka/src/it/kotlin/com/projectronin/inteorp/queue/kafka/BaseKafkaQueueServiceTest.kt
  interop-queue-kafka/src/it/kotlin/com/projectronin/inteorp/queue/kafka/KafkaQueueTest.kt
  interop-queue-kafka/src/it/resources/docker-compose-kafka.yaml
  interop-queue-kafka/src/it/resources/logback-test.xml
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueService.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/Spring.kt
  interop-queue-kafka/src/test/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueServiceTest.kt
  settings.gradle.kts
Due: db

INT-1286: GHA to block PR merge when snapshots present (#67)
  .github/workflows/verify_mergeable.yml
Due: none

unsubscribe every time we poll, don't limit messages
  gradle/libs.versions.toml
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueService.kt
  interop-queue-kafka/src/test/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueServiceTest.kt
Due: none

INT-1240: unsubscribe every time we poll, don't limit messages (#71)
  gradle/libs.versions.toml
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueService.kt
  interop-queue-kafka/src/test/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueServiceTest.kt
Due: none

INT-1324: update kafka queue to allow any resource type (#75)
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/DBQueueService.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/DBQueueServiceTest.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/Spring.kt
Due: db

INT-1380: Upload JUnit results to DataDog (#80)
  .github/workflows/db_test.yml
  .github/workflows/kafka_integration_test.yml
  .github/workflows/kafka_test.yml
  CODEOWNERS
  codecov.yml
Due: none

INT-1336: Modularize Spring (#79)
  gradle/libs.versions.toml
  interop-queue-db/interop-queue-db.gradle.kts
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/spring/DbQueueSpringConfig.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/spring/DbQueueSpringConfigTest.kt
  interop-queue-db/src/test/resources/com/projectronin/interop/queue/db/spring/kafka-test.properties
  interop-queue-kafka/interop-queue-kafka.gradle.kts
  interop-queue-kafka/src/it/kotlin/com/projectronin/inteorp/queue/kafka/BaseKafkaQueueServiceTest.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueService.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/spring/KafkaQueueSpringConfig.kt
  interop-queue-kafka/src/test/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueServiceTest.kt
  interop-queue-kafka/src/test/kotlin/com/projectronin/interop/queue/kafka/spring/KafkaQueueSpringConfigTest.kt
  interop-queue-kafka/src/test/resources/com/projectronin/interop/queue/kafka/spring/kafka-test.properties
Due: db

Update Gradle plugin versions (#84)
  settings.gradle.kts
Due: none

Handle HL7 queue retrieval when no items found in latest ktorm (#92)
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/data/MessageDAO.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/data/MessageDAOTest.kt
  interop-queue-db/src/test/resources/dbunit/message/api/read/NoMessages.yaml
  interop-queue-db/src/test/resources/dbunit/message/api/read/NoUnreadMessages.yaml
  interop-queue-db/src/test/resources/dbunit/message/api/read/OnlyMDMT02Messages.yaml
  interop-queue-db/src/test/resources/dbunit/message/api/read/OnlyNewTenantMessages.yaml
Due: db

INT-1411 - Update PULL_REQUEST_TEMPLATE.md (#91)
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
Due: none

Update GHAs for move to main (#95)
  .github/workflows/api_test.yml
  .github/workflows/create_release.yml
  .github/workflows/db_test.yml
  .github/workflows/deploy_queue_liquibase.yml
  .github/workflows/kafka_integration_test.yml
  .github/workflows/kafka_test.yml
  .github/workflows/lint.yml
  .github/workflows/monitor_test.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/upgrade_dependencies.yml
Due: none

INT-1447: Simplify release options (#96)
  .github/workflows/create_release.yml
  .github/workflows/mark_next_release.yml
Due: none

[INT-1512] Upgrade to Gradle 8, accommodate new IT plugin (#106)
  gradle/wrapper/gradle-wrapper.properties
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/data/MessageDAO.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/data/MessageDAOTest.kt
  interop-queue-kafka/interop-queue-kafka.gradle.kts
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueService.kt
  interop-queue/src/main/kotlin/com/projectronin/interop/queue/model/HL7Message.kt
  interop-queue/src/main/kotlin/com/projectronin/interop/queue/model/QueueStatus.kt
  interop-queue/src/test/kotlin/com/projectronin/interop/queue/model/ApiMessageTest.kt
  interop-queue/src/test/kotlin/com/projectronin/interop/queue/model/QueueStatusTest.kt
  settings.gradle.kts
Due: api, db

INT-1531: get kafka queueing up to date (#108)
  gradle/libs.versions.toml
  interop-queue-db/src/test/resources/com/projectronin/interop/queue/db/spring/kafka-test.properties
  interop-queue-kafka/src/it/kotlin/com/projectronin/inteorp/queue/kafka/BaseKafkaQueueServiceTest.kt
  interop-queue-kafka/src/it/kotlin/com/projectronin/inteorp/queue/kafka/KafkaQueueTest.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueService.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/spring/KafkaQueueSpringConfig.kt
  interop-queue-kafka/src/test/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueServiceTest.kt
Due: db

force proxy to use kafka (for now) (#111)
  gradle/libs.versions.toml
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/DBQueueService.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/DBQueueServiceTest.kt
Due: db

INT-1624 Updated liquibase migration to add pk to databasechangelog table (#113)
  interop-queue-liquibase/src/main/resources/queue/db/changelog/databasechangelog/databasechangelog-01.yaml
  interop-queue-liquibase/src/main/resources/queue/db/changelog/queue.db.changelog-1.6.2.yaml
  interop-queue-liquibase/src/main/resources/queue/db/changelog/queue.db.changelog-master.yaml
Due: none

INT-1707: Updates to match event changes (#121)
  gradle/libs.versions.toml
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/data/MessageDAO.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/DBQueueServiceTest.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/data/MessageDAOTest.kt
  interop-queue-kafka/interop-queue-kafka.gradle.kts
  interop-queue-kafka/src/it/kotlin/com/projectronin/inteorp/queue/kafka/KafkaQueueTest.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueService.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/spring/KafkaQueueSpringConfig.kt
  interop-queue-kafka/src/test/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueServiceTest.kt
  interop-queue/interop-queue.gradle.kts
  interop-queue/src/main/kotlin/com/projectronin/interop/queue/model/ApiMessage.kt
  interop-queue/src/test/kotlin/com/projectronin/interop/queue/model/ApiMessageTest.kt
Due: api, db

QUAL-1434: remove devex from owning .github files (#142)
  CODEOWNERS
Due: none

[INT-1899] Update interop-queue to new dependency plugin and GHA (#141)
  .github/workflows/upgrade_dependencies.yml
  build.gradle.kts
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  interop-queue-db/interop-queue-db.gradle.kts
  interop-queue-kafka/interop-queue-kafka.gradle.kts
  interop-queue-monitor/interop-queue-monitor.gradle.kts
  interop-queue/interop-queue.gradle.kts
  settings.gradle.kts
Due: api, db

Run dependency upgrades on Saturday and Wednesday (#145)
  .github/workflows/upgrade_dependencies.yml
  CODEOWNERS
Due: none

INT-2205: fix kafka (#157)
  gradle/libs.versions.toml
  interop-queue-kafka/src/it/kotlin/com/projectronin/inteorp/queue/kafka/BaseKafkaQueueServiceTest.kt
Due: none

Remove unused project and fix build (#158)
  .github/workflows/monitor_test.yml
  build.gradle.kts
  interop-queue-monitor/Dockerfile
  interop-queue-monitor/README.md
  interop-queue-monitor/interop-queue-monitor.gradle.kts
  interop-queue-monitor/src/main/kotlin/com/projectronin/interop/queue/monitor/InteropQueueMonitor.kt
  interop-queue-monitor/src/main/kotlin/com/projectronin/interop/queue/monitor/datadog/DataDogQueueMonitor.kt
  interop-queue-monitor/src/main/kotlin/com/projectronin/interop/queue/monitor/spring/InteropQueueMonitorConfig.kt
  interop-queue-monitor/src/main/resources/application.properties
  interop-queue-monitor/src/test/kotlin/com/projectronin/interop/queue/monitor/datadog/DataDogQueueMonitorTest.kt
  interop-queue-monitor/src/test/kotlin/com/projectronin/interop/queue/monitor/spring/InteropQueueMonitorConfigTest.kt
  settings.gradle.kts
Due: none

INT-2309: Move to SonarQube and single unit test GHA (#165)
  .github/workflows/api_test.yml
  .github/workflows/db_test.yml
  .github/workflows/kafka_test.yml
  .github/workflows/test.yml
  build.gradle.kts
  codecov.yml
  gradle/libs.versions.toml
  interop-queue-liquibase/interop-queue-liquibase.gradle.kts
Due: none

Update to use basic-gradle-build-publish action (#170)
  .github/workflows/test.yml
Due: none

INT-2362: Add William and update GHA runners (#171)
  .github/workflows/create_release.yml
  .github/workflows/deploy_queue_liquibase.yml
  .github/workflows/kafka_integration_test.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/test.yml
  .github/workflows/verify_mergeable.yml
  CODEOWNERS
Due: none

Ktlint and Gradle upgrades (#176)
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/DBQueueService.kt
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/data/MessageDAO.kt
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/data/model/HL7MessageDO.kt
  interop-queue-db/src/main/kotlin/com/projectronin/interop/queue/db/data/model/MessageDO.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/DBQueueServiceTest.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/SchemaTest.kt
  interop-queue-db/src/test/kotlin/com/projectronin/interop/queue/db/data/MessageDAOTest.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueService.kt
  interop-queue-kafka/src/main/kotlin/com/projectronin/interop/queue/kafka/spring/KafkaQueueSpringConfig.kt
  interop-queue-kafka/src/test/kotlin/com/projectronin/interop/queue/kafka/KafkaQueueServiceTest.kt
  interop-queue/src/main/kotlin/com/projectronin/interop/queue/QueueService.kt
  interop-queue/src/main/kotlin/com/projectronin/interop/queue/model/ApiMessage.kt
  interop-queue/src/main/kotlin/com/projectronin/interop/queue/model/HL7Message.kt
  interop-queue/src/main/kotlin/com/projectronin/interop/queue/model/MessageType.kt
  interop-queue/src/main/kotlin/com/projectronin/interop/queue/model/QueueStatus.kt
  interop-queue/src/test/kotlin/com/projectronin/interop/queue/model/ApiMessageTest.kt
  interop-queue/src/test/kotlin/com/projectronin/interop/queue/model/HL7MessageTest.kt
  interop-queue/src/test/kotlin/com/projectronin/interop/queue/model/QueueStatusTest.kt
Due: api, db

Path conditions:
  api: any of: interop-queue/
  db: any of: interop-queue-db/
